@CHARSET "UTF-8";
.login{
	 margin-top: 100px;
    margin-bottom: 350px;
    margin-right: 550px;
    margin-left: 450px;
	border-style: double;
    border-width: thick;
    background-color: lightblue;
    border:1px solid black;
    padding:20px;
    height: 250px;
    width:350px;
}
#submit{
	padding:20px;
}
#email{
	color:red;
}